html{
scroll-behavior: smooth;
}

body{
margin:0;
background-color: rgb(0, 47, 30);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
Font-size:25px;
}

#bg-video{
position: fixed;
top: 15%;
opacity: 0.5;
width:100%;
height:100%;
object-fit: cover;
z-index: -1;
}
.container{
background-color: antiquewhite;
display:flex;
flex-direction: column;
align-items: center;  
justify-content:space-between;
width:100%;
Position:fixed;
top:0;
z-index:1000;

}
.container h1{
font-size:40px;
color: rgb(2, 78, 2);
/*position: fixed;*/
text-align: center;
margin:0px;
}
.container nav ul{
display:flex;
list-style: none;/*GREAT- the section contains navigation & UListing*/
margin:0;
Padding: 0;
gap:20px;
}

nav li{
Margin: 10px;
padding: 10px; /*GREAT-handled spacing*/


}

nav a{
width:-60px;
color: rgb(2, 78, 2);
text-decoration:none;
}

.container nav ul a:hover{
position: relative;
background-color: rgba(23, 89, 23, 0.382);
text-decoration: none;
padding-bottom:5px ;
}
.container nav ul a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;                 /* starts invisible */
  height: 2px;
 background-color: rgba(23, 89, 23, 0.382);
transition: width 0.3s ease;
}
.container img{
width:50px;
height:50px; 
}
#INTRO{
    grid-column: auto;
    text-align: center;
    color:antiquewhite
}

#SOLUTION{
    text-align:left;
    text-spacing-trim: normal;
    justify-content: left; 
    color:antiquewhite
}
#Problem{
    Color:antiquewhite;
}

#Home h2{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
Color:antiquewhite;
font-size:larger;
Text-align:center;
}


 
   


#AboutUs{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#AboutUs h3{
color:antiquewhite;
font-size:larger;
text-align:  center;  
}

#App{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column; 
}

#App h3{
    Color:antiquewhite;
    text-align: center;
}


#SocialMedia{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

#SocialMedia h3{
font-size:larger;
text-align: center;
color:antiquewhite;
}

footer p{
    text-align: center;  
color: rgb(2, 78, 2);
    Font-size:15px;
}
footer {


background-color: antiquewhite;
padding: 1px 0;


}
